#e36_1 { 
	overflow:hidden;
	background-color:rgba(23.37500050663948, 23.37500050663948, 23.37500050663948, 1);
	width:1920px;
	height:3023px;
	position:absolute;
}#e36_5 { 
	width:332px;
	height:23px;
	position:absolute;
	left:1240px;
	top:65px;
}#e36_6 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}#e36_7 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:23px;
	position:absolute;
	left:123px;
	top:0px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}#e36_8 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:23px;
	position:absolute;
	left:234px;
	top:0px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}#e36_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:143px;
	height:42px;
	position:absolute;
	left:350px;
	top:611px;
}#e36_17 { 
	background-color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	width:143px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}#e36_18 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:18px;
	position:absolute;
	left:27px;
	top:12px;
	font-family:DM Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}#e36_14 { 
	color:rgba(255, 255, 255, 1);
	width:389px;
	height:124px;
	position:absolute;
	left:348px;
	top:420px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}#e36_65 { 
	width:222px;
	height:60.02933883666992px;
	position:absolute;
	left:827px;
	top:1432px;
}#e36_19 { 
	color:rgba(255, 255, 255, 1);
	width:222px;
	height:60.02933883666992px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Sans;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}#e36_64 { 
	width:1168px;
	height:370px;
	position:absolute;
	left:356px;
	top:2480px;
}#e36_20 { 
	color:rgba(255, 255, 255, 1);
	width:363px;
	height:62px;
	position:absolute;
	left:396px;
	top:0px;
	font-family:DM Sans;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}#e36_36 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	border:1px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1168px;
	height:235px;
	position:absolute;
	left:0px;
	top:135px;
}#e36_37 { 
	width:159px;
	height:119px;
	position:absolute;
	left:125px;
	top:194px;
}#e36_38 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:159px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Sans;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}#e36_39 { 
	color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	width:66px;
	height:31px;
	position:absolute;
	left:47px;
	top:88px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e36_40 { 
	width:154px;
	height:119px;
	position:absolute;
	left:404px;
	top:194px;
}#e36_41 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:154px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Sans;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}#e36_42 { 
	color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	width:47px;
	height:31px;
	position:absolute;
	left:54px;
	top:88px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e36_43 { 
	width:141px;
	height:119px;
	position:absolute;
	left:679px;
	top:194px;
}#e36_44 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:104px;
	height:94px;
	position:absolute;
	left:18px;
	top:0px;
	font-family:DM Sans;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}#e36_45 { 
	color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	width:141px;
	height:31px;
	position:absolute;
	left:0px;
	top:88px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e36_46 { 
	width:114px;
	height:119px;
	position:absolute;
	left:935px;
	top:194px;
}#e36_47 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:114px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Sans;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}#e36_48 { 
	color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	width:47px;
	height:31px;
	position:absolute;
	left:34px;
	top:88px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e36_62 { 
	color:rgba(79.00000289082527, 79.00000289082527, 79.00000289082527, 1);
	width:112px;
	height:23px;
	position:absolute;
	left:902px;
	top:2960px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}#e36_67 { 
	color:rgba(255, 255, 255, 1);
	width:231px;
	height:62px;
	position:absolute;
	left:825px;
	top:909px;
	font-family:DM Sans;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}#e9_0 { 
	color:rgba(255, 255, 255, 1);
	width:745px;
	height:153px;
	position:absolute;
	left:568px;
	top:1025px;
	font-family:DM Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e11_3 { 
	width:854px;
	height:440px;
	position:absolute;
	left:510px;
	top:1541px;
	background-image:url(images/eimage_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e12_1 { 
	width:395px;
	height:333px;
	position:absolute;
	left:510px;
	top:2037px;
	background-image:url(images/eimage_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e12_3 { 
	width:385px;
	height:333px;
	position:absolute;
	left:979px;
	top:2037px;
	background-image:url(images/eimage_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_1 { 
	width:57px;
	height:56px;
	position:absolute;
	left:1194px;
	top:1261px;
	background-image:url(images/eimage_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_3 { 
	width:61px;
	height:56px;
	position:absolute;
	left:910px;
	top:1261px;
	background-image:url(images/eimage_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_5 { 
	width:59px;
	height:56px;
	position:absolute;
	left:628px;
	top:1261px;
	background-image:url(images/eimage_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e19_1 { 
	width:731px;
	height:695px;
	position:absolute;
	left:958px;
	top:160px;
	background-image:url(images/eimage_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}